apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: upgrade-system
resources:
# renovate: depName=rancher/system-upgrade-controller
- https://github.com/rancher/system-upgrade-controller/releases/download/v0.18.0/crd.yaml
- https://github.com/rancher/system-upgrade-controller/releases/download/v0.18.0/system-upgrade-controller.yaml- https://raw.githubusercontent.com/rancher/system-upgrade-controller/refs/tags/v0.18.0/manifests/clusterrole.yaml
- https://raw.githubusercontent.com/rancher/system-upgrade-controller/refs/tags/v0.18.0/manifests/clusterrolebinding.yaml
- https://raw.githubusercontent.com/rancher/system-upgrade-controller/refs/tags/v0.18.0/manifests/system-upgrade-controller.yaml
# - https://github.com/rancher/system-upgrade-controller/releases/download/v0.18.0/system-upgrade-controller.yaml
- ./rke2-server-plan.yaml
- ./rke2-agent-plan.yaml
