apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: network-system
spec:
  driftDetection:
    mode: enabled
  interval: 15m
  chart:
    spec:
      # renovate: registryUrl=https://traefik.github.io/charts datasource=helm
      chart: traefik
      version: 39.0.1
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      checkNewVersion: true
      sendAnonymousUsage: false
    deployment:
      replicas: null
    logs:
      general:
        level: INFO
        format: json
      access:
        enabled: true
        format: json
    resources:
      requests:
        cpu: "500m"
        memory: "200Mi"
      limits:
        cpu: "1000m"
        memory: "400Mi"
    experimental:
      plugins:
        # enabled: true
        bouncer:
          moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
          # renovate: depName=maxlerebourg/crowdsec-bouncer-traefik-plugin datasource=github-releases
          version: 1.5.1
      kubernetesGateway:
        enabled: true
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
        allowExternalNameServices: true
        allowEmptyServices: true
        nativeLBByDefault: true
        # ingressClass: traefik
      kubernetesIngress:
        allowExternalNameServices: true
        allowEmptyServices: true
        nativeLBByDefault: true
        publishedService:
          enabled: true
        # comment out ingressClass to allow all ingresses to be processed  
        # ingressClass: traefik 
      kubernetesGateway:
        enabled: true
    # nodeSelector:
    #   ingress-ready: 'true'
    ingressClass:
      enabled: true
      isDefaultClass: true
      name: traefik
    gateway:
      enabled: true
      listeners:
        web:
          port: 80
          protocol: HTTP
          namespacePolicy:
            from: All
        websecure:
          port: 443
          protocol: HTTPS
          namespacePolicy:
            from: All
          certificateRefs:
          - kind: Secret
            name: wildcard-homelab-heyser-xyz-tls
            namespace: network-system
          mode: Terminate
    service:
      annotations:
        cni.projectcalico.org/ipAddrs: '["10.0.100.1"]'
        metallb.universe.tf/address-pool: "system"
        metallb.universe.tf/loadBalancerIPs: 10.0.100.1
        traefik.ingress.kubernetes.io/service.nativelb: "true"
      spec:
        # loadBalancerIP: 10.0.100.1
        externalIPs:
        - 10.0.100.1
        externalTrafficPolicy: Cluster
    ports:
      websecure:
        port: 443
        containerPort: 443
        asDefault: true
        allowACMEByPass: true
        http3:
          enabled: true
          advertisedPort: 443
        middlewares: # - network-system-authentik@kubernetescrd
      web:
        port: 80
        containerPort: 80
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
        middlewares:
          # - network-system-authentik@kubernetescrd
          # tls:
          # enabled: true
          # certResolver: letsencrypt-prod
          # tolerations:
          # - key: node-role.kubernetes.io/control-plane
          #   operator: Exists
          # - key: node-role.kubernetes.io/master
          #   operator: Exists
    podDisruptionBudget:
      enabled: true
      maxUnavailable: 1
    autoscaling:
      enabled: true
      minReplicas: 3
      maxReplicas: 5
      metrics:
      - type: Resource
        resource:
          name: cpu
          target:
            type: Utilization
            averageUtilization: 80
