---
Source: adguard-home/templates/common.yaml
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: adguard-dns
  namespace: network-system
  labels:
    app.kubernetes.io/instance: adguard
    app.kubernetes.io/name: adguard-home
  annotations:
    kubernetes.io/ingress.class: traefik
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    #traefik.ingress.kubernetes.io/router.middlewares: "network-system-authentik@kubernetescrd"
spec:
  ingressClassName: traefik
  tls:
  - hosts:
    - &exthost "dns.homelab.heyser.xyz"
    secretName: "adguard-homelab-heyser-xyz-tls"
  rules:
  - host: *exthost
    http:
      paths:
      - path: "/dns-query"
        pathType: Prefix
        backend:
          service:
            name: adguard-dns
            port:
              number: 443
---
# Source: adguard-home/templates/common.yaml
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: adguard-home
  namespace: network-system
  labels:
    app.kubernetes.io/instance: adguard
    app.kubernetes.io/name: adguard-home
  annotations:
    kubernetes.io/ingress.class: traefik
    traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
    traefik.ingress.kubernetes.io/router.middlewares: "network-system-authentik@kubernetescrd"
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: Core Services
    gethomepage.dev/icon: adguard-home.svg
    gethomepage.dev/name: AdGuard Home
    gethomepage.dev/description: AdGuard Home is a network-wide ad blocker and DNS server.
spec:
  ingressClassName: traefik
  tls:
  - hosts:
    - &host "adguard.homelab.heyser.xyz"
    secretName: "adguard-homelab-heyser-xyz-tls"
  rules:
  - host: *host
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: adguard-home
            port:
              number: 3000
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: adguard-home
  namespace: network-system
spec:
  entryPoints:
  - web
  - websecure
  routes:
  - kind: Rule
    match: Host(`adguard.homelab.heyser.xyz`)
    services:
    - kind: Service
      name: adguard-home
      port: 3000
      sticky:
        cookie:
          httpOnly: true
          secure: true
          sameSite: none
