name: "HelmRelease Diff"

on:
  pull_request:
    branches: ["master","main"]
    paths: ["**.yaml","**.yml"]

env:
  KUBERNETES_DIR: ./

permissions:
  contents: read

jobs:
  changed-files:
    permissions:
      actions: write
      attestations: write
      checks: write
      contents: write
      deployments: write
      discussions: write
      issues: write
      packages: write
      pages: write
      pull-requests: write
      repository-projects: write
      security-events: write
      statuses: write
    name: Detect File Changes
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit
      
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Get changed files
        id: changed-files
        uses: step-security/changed-files@60967b822d3001fa82242f8d6b4ed46bc3600a68 # v47.0.1
        with:
          json: true
          files: |
            **/*.yaml
            **/*.yml
          files_ignore: |
            .github/**
            flux-system/**
            Taskfile.yml
            secrets/**

      - id: set-matrix
        run: echo "matrix={\"file\":${{ steps.changed-files.outputs.all_changed_files }}}" >> "${GITHUB_OUTPUT}"

  diff:
    permissions:
      actions: write
      attestations: write
      checks: write
      contents: write
      deployments: write
      discussions: write
      issues: write
      packages: write
      pages: write
      pull-requests: write
      repository-projects: write
      security-events: write
      statuses: write
    name: Diff on Helm Releases
    runs-on: ubuntu-latest
    needs: [changed-files]
    strategy:
      matrix: ${{ fromJSON(needs.changed-files.outputs.matrix) }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit
      
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Checkout default branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: "${{ github.event.repository.default_branch }}"
          path: default_branch

      # - name: Setup Homebrew
      #   uses: Homebrew/actions/setup-homebrew@master

      # - name: Setup Tools
      #   run: |
      #     brew install helm homeport/tap/dyff kustomize yq

      - uses: step-security/setup-yq@6509aa1108c1ce6e4239aedc9b762ad7b3f1e411 # v1.0.2

      - name: Diff
        id: diff
        run: |
          # pin to 8.1.3 due to https://github.com/google/zx/issues/870
          npm install zx@8.1.3
          diff=$(npx zx ./.github/scripts/helmReleaseDiff.mjs \
            --current-release "default_branch/${{ matrix.file }}" \
            --incoming-release "${{ matrix.file }}" \
            --kubernetes-dir ${{ env.KUBERNETES_DIR }} \
            --diff-tool "diff")
          echo "diff<<EOF" >> "${GITHUB_OUTPUT}"
          echo "${diff}" >> "${GITHUB_OUTPUT}"
          echo "EOF" >> "${GITHUB_OUTPUT}"

      - name: Find Comment
        if: ${{ always() && steps.diff.outputs.diff != '' }}
        uses: peter-evans/find-comment@b30e6a3c0ed37e7c023ccd3f1db5c6c0b0c23aad # v4.0.0
        id: find-comment
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body-includes: "Helm Release Diff: ${{ matrix.file }}"

      - name: Create or update comment
        if: ${{ always() && steps.diff.outputs.diff != '' }}
        uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9 # v5.0.0
        with:
          comment-id: ${{ steps.find-comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            Helm Release Diff: `${{ matrix.file }}`

            ```diff
            ${{ steps.diff.outputs.diff }}
            ```
          edit-mode: replace
